.container {
  text-align: center;
  margin-top: 50px;
}

.count {
  font-size: 3em;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.change-button {
  padding: 15px 30px; /* Increased padding */
  font-size: 22px; /* Increased font size */
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #d3dfec;
  background-color: #e2e8ee;
  color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

.increment-button {
  background-color: rgb(234, 234, 245);
  padding: 15px 30px;
}

.increment-button:hover {
  background-color: green;
}

.decrement-button {
  background-color: rgb(223, 223, 235);
  padding: 15px 30px;
}

.decrement-button:hover {
  background-color: #c82333;
}

.add-button {
  padding: 15px 30px; /* Increased padding */
  font-size: 22px; /* Increased font size */
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ffc107;
  background-color: #ffc107;
  color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

.add-button:hover {
  background-color: #e0a800;
}
